certifi
cycler
flake8
joblib
kiwisolver
matplotlib
mccabe
mss
mypy
mypy-extensions
numpy
opencv-contrib-python
Pillow
pycodestyle
pyflakes
pyparsing
python-dateutil
scikit-learn
scipy
six
sklearn
threadpoolctl
tomli
typing-extensions
